@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.home-title{
  margin-top: 10px;
    font-size:2em;
    font-family:'Times New Roman', Times, serif

}
div{
    max-width: 1600px;
    margin: 0 auto;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
    box-sizing: border-box
}
#background{
    height: 725px;
}
body{
    font-family:'Times New Roman', Times, serif;
    background-color:lightskyblue;
    padding:0;
    margin: 0;
    font-size: 22px;
h2{
    margin:0;
}
    
header{
    font-family:'Times New Roman', Times, serif;
    background-color:white;
}
nav a:hover{
    background-color:yellow;

}
.book, .join{
    border-radius: 5px;
    margin-top: 50px;
    padding: 15px 30px;
    background-color:lightskyblue;
    text-decoration: none;
    font-size: 18px
}
.book:hover, .join:hover{
    background-color:yellow;
}
#background{
    background-color:lightskyblue;
}
.msg{
   padding:25px;
    background-color:lightskyblue;
    line-height: 1.5em;
    font-size: .8em
}
.msg p{
    padding-bottom:15px;
}
footer{
    background-color:lightskyblue;
    padding: 25px 50px;
    margin-top:200px;
}
footer .social img{
    padding-top: 15px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.card-img{
    border: 10px solid lightskyblue;
}
#hero-img{
    width: 100%;
}
footer a{
    text-decoration: none;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
#logo_link{
  padding-top: 5px;
}
.rivers-card{
margin:200px 0;
}
.camping-card{
    margin:200px 0;
}
.rapids-card{
    margin:200px 0;
}}