
h1{
    text-align:center;
    margin-top:20px;
    font-size:2.5em;
    background-color: blue;
}
header{
    background-color: blue;
}

#NFL{
    text-align:center;
    padding-top:50px;
    border:5px solid;
    font-size:1.5em;
    

}

#NBA{
    text-align:center;
    padding-top:50px;
    padding:50px;
    border:5px solid;
    font-size:1.5em;
    

}

#NHL{
    text-align:center;
    padding-top:50px;
    padding:50px;
    border:5px solid;
    font-size:1.5em;
}

#MLB{
    text-align:center;
    padding-top:50px;
    padding:50px;
    border:5px solid;
    font-size:1.5em;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: skyblue;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10;
}

footer a:hover {
    text-decoration: underline;
}

