body{
    display:grid;
}
h1{
    text-align:center;
    margin-top:20px;
    font-size:2em;
}

#NFL{
text-align:center;
padding-top:50px;
padding-bottom:50px;
border:5px solid;
background-image: 'NFL.png' ;
}

#NBA{
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;
    border:5px solid;
}

#NHL{
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;
    border:5px solid;
}

#MLB{
    text-align:center;
    padding-top:50px;
    padding-bottom:50px;
    border:5px solid;
}
