
html, body {
    margin: 0;
    padding: 0;
    background-color: skyblue;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 5em;
    background-color: blue;
    margin: 0;
    padding: 20px 0;
    width: 100%;
}


h2 {
    font-size: 3.5em;
}

p {
    font-size: 1.5em;
}

footer {
    background-color: blue;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
